.rectangle {
    position: absolute;
    left: 5%;
    width: 90%; 
    height: 100%;
    background: linear-gradient(185deg,
                    rgb(36, 0, 61) 5%,   
                    rgb(50, 10, 85) 45%,  
                    rgb(70, 15, 100) 65%, 
                    rgb(60, 10, 80) 100%);
    clip-path: inset(4% round 40px);
    z-index: -1; 
}

/* Título Principal */
h1 {
    padding-top: 4%;
}

.introduction-text {
    color: rgb(254, 254, 254);
    font-size: 20px; 
    margin-bottom: 20px; 
    text-align: justify; 
    line-height: 1.6; 
    width: 90%;
    padding: 1.5%;
    margin-left: 18%;
}

/* Imagem */
.introduction-img {
    border-radius: 10px; 
    max-width: 400px; 
    margin: 0 auto; 
    margin-top: 4%;
    padding: 1%;
}

.img-introd {
    width: 90%;
    height: auto;
    margin: auto;
    position: relative;
    border-radius: 10px; 
}